<form method="POST" action="{{ url_for('mean_variance') }}" class="p-3 bg-white rounded shadow-sm">
    <div id="stocks-container">
        {% if stocks and weights %} {% for i in range(stocks|length) %}
        <div class="stock-input-group mb-3">
            <label for="stock{{ i }}" class="form-label visually-hidden">Stock {{ i+1 }}:</label>
            <!--<input
                    type="text"
                    name="stock"
                    id="stock{{ i }}"
                    placeholder="Stock Symbol (e.g., CIPLA)"
                    class="form-control"
                    value="{{ stocks[i] }}"
                />-->
            <select name="stock" id="stock1" class="form-control">
                <option value="Stock Symbol (e.g., HDFCBANK)">
                    Select a Stock Symbol
                </option>
                {% for s in stock_options %}
                <option value="{{ s }}" {% if s==stocks[i] %} selected {% endif %}>{{ s }}</option>
                {% endfor %}
            </select>

            <input type="number" name="weight" placeholder="Amount (%)" step="0.01" class="form-control"
                value="{{ weights[i] }}" />
            <button type="button" class="btn btn-danger remove-stock-btn">
                Remove
            </button>
        </div>
        {% endfor %} {% else %}
        <div class="stock-input-group mb-3">
            <label for="stock0" class="form-label visually-hidden">Stock 1:</label>
            <select name="stock" id="stock1" class="form-control">
                <option value="Stock Symbol (e.g., HDFCBANK)" selected>
                    Select a Stock Symbol
                </option>
                {% for s in stock_options %}
                <option value="{{ s }}">{{ s }}</option>
                {% endfor %}
            </select>
            <input type="number" name="weight" placeholder="Amount (%)" step="0.01" class="form-control" />
            <button type="button" class="btn btn-danger remove-stock-btn">
                Remove
            </button>
        </div>
        <div class="stock-input-group mb-3">
            <label for="stock1" class="form-label visually-hidden">Stock 2:</label>
            <select name="stock" id="stock1" class="form-control">
                <option value="Stock Symbol (e.g., HDFCBANK)" selected>
                    Select a Stock Symbol
                </option>
                {% for s in stock_options %}
                <option value="{{ s }}">{{ s }}</option>
                {% endfor %}
            </select>
            <input type="number" name="weight" placeholder="Amount (%)" step="0.01" class="form-control" />
            <button type="button" class="btn btn-danger remove-stock-btn">
                Remove
            </button>
        </div>
        {% endif %}


    </div>

    <div class="d-flex justify-content-start align-items-center gap-3 mt-3">
        <button type="button" id="add-stock-btn" class="btn btn-secondary">
            Add Stock
        </button>

        <button type="submit" class="btn btn-primary">
            Calculate Frontier
        </button>
    </div>

    {% include "forms/train_test_inputs.html" %}
</form>