<ul class="nav nav-tabs" id="inputTabs" role="tablist">
  <li class="nav-item">
    <button class="nav-link {% if (weights is defined) or ((riskvalue is not defined) and (returnval is not defined)) %}active{% endif %}" id="form1-tab"
      data-bs-toggle="tab" data-bs-target="#form1" type="button" role="tab" aria-controls="form1"
      aria-selected="{% if (weights is defined) or (riskvalue is not defined) %}true{% else %}false{% endif %}">
      Mean-Variance
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link {% if riskvalue is defined %}active{% endif %}" id="form2-tab" data-bs-toggle="tab"
      data-bs-target="#form2" type="button" role="tab" aria-controls="form2"
      aria-selected="{% if riskvalue is defined %}true{% else %}false{% endif %}">
      Risk Metric
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link {% if returnval is defined %}active{% endif %}" id="form3-tab" data-bs-toggle="tab"
      data-bs-target="#form3" type="button" role="tab" aria-controls="form3"
      aria-selected="{% if returnval is defined %}true{% else %}false{% endif %}">
      Return
    </button>
  </li>
</ul>

<div class="tab-content mt-3">
  <div class="tab-pane fade {% if (weights is defined) or ((riskvalue is not defined) and (returnval is not defined)) %}show active{% endif %}"
    id="form1" role="tabpanel" aria-labelledby="form1-tab">
    
    <p class="text-muted">
      <strong>Mean-Variance Optimization:</strong> Based on your selection of stocks and weights, we calculate optimized portfolios with either the same risk (variance, sharpe, cvar, etc) or the same risk.
    </p>
    
    {% include "forms/mean_variance.html" %}
  </div>
  
  <div class="tab-pane fade {% if riskvalue is defined %}show active{% endif %}" id="form2" role="tabpanel"
    aria-labelledby="form2-tab">
    
    <p class="text-muted">
      <strong>Risk-Based Optimization:</strong> Based on your selection of stocks, risk metric and risk value, we calculate optimized portfolios with same risk and maximize return.
    </p>

    {% include "forms/risk_opt.html" %}
  </div>

  <div class="tab-pane fade {% if returnval is defined %}show active{% endif %}" id="form3" role="tabpanel"
    aria-labelledby="form3-tab">
    
    <p class="text-muted">
      <strong>Return-Based Optimization:</strong> Based on your selection of stocks, and a target portfolio return, we calculate optimized portfolios the specified return and minimized risks.
    </p>

    {% include "forms/return_opt.html" %}
  </div>
</div>


<select id="stock-options-template" class="d-none">
  {% for s in stock_options %}
  <option value="{{ s }}">{{ s }}</option>
  {% endfor %}
</select>